*{
    box-sizing: border-box;
}

body{
    border: 0px solid black;
    margin: 0%;
    font-family: Arial;
}
nav{
    background-color: #075e54;
    height: 3.5rem;
    color: white;
    flex-flow: row;
}
#whatsapp{
    margin: 0%;
    position: absolute;
    justify-content: center;
    padding: 1rem;
    display: flex;
}
#icon{
    position: relative;
    float: right;
    justify-content: center;
    padding: 1rem;
    display: flex;
}
.chats{
    border-bottom:  3px solid#ffffff;
   
}
aside{
    height: 3rem;
    width: 100%;
    display: flex;
    flex-flow: row;
    background: #075e54;
    flex-wrap: wrap;
    margin: 0%;
    border: 0px solid red;
    align-items:flex-end;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    justify-content:space-evenly;

}
#buton{
    border: none;
    font-size: 1rem;
    color: #ffffff;
    margin-left: 2rem;
    background-color: #075e54;
    display: flex;
    flex-wrap: wrap;
    width: 6rem;   
}
main{
    display: flex;
    flex-flow: column;
    overflow: scroll;

}
#articulos{
    width: 100%;
    height: 4.5rem;
    margin: 1;
    border: 0px solid green;
    flex-wrap: wrap;
}

.img{
    font-size: cover;
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    top: .3rem;
    position: relative;
    
}
#articulos small{
    display: flex;
    position: relative;
    left: 3.5rem;
    top: -3rem;
    font-size: 1.2rem;     
    margin: 0;
    
}
#articulos i{
    display: flex;
    position: relative;
    left: 0.1rem;
    top: 0.3rem;
    font-size: 1rem;     
    margin: 0;
}
#arch{
    width: 100%;
    height: 3rem;
    margin: 1;
    border: 0px solid green;
    flex-wrap: wrap;
}
#arch small{
    display: flex;
    position: relative;
    left: 3.5rem;
    top: -5.3rem;
    font-size: 1.5rem;     
    margin: .5rem;
}
.arc{
    font-size: cover;
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    top: .7rem;
    position: relative;
    color: #075e54;
}
#sound{
    position: absolute;
    left: 78%;
    font-size: 1.1rem;
}
#call{
    position: relative;
    color: red;
    font-size: 1.1rem;
    top: 0.2rem;
}
#chu{
    position: relative;
    color: grey;
    font-size: 1.2rem;
    top: 0.3rem;
}
#mate{
    position: relative;
    color: #53bdeb;
    font-size: 1.2rem;
    top: 0.3rem;
}
#pin{
    position: absolute;
    left: 78%;
    font-size: 1.1rem;
    transform: rotate(30deg);

}


/* #contactos{
    display: flex;
    position: fixed;
    font-size: 3rem;
    top: 35rem;
    left: 20rem;
    color:white;
    border-radius: 50%;
    overflow: hidden;
    background-color: #075e54;
    width: 4rem;
    height: 4rem;
    justify-items: center;
    justify-content: center;
    padding: 1rem;
    
    
} */
.camara{
    color: white;
}



@media screen and (max-width: 2000px) and (min-width: 400px){
    #buton{
        border: none;
        font-size: 1rem;
        color: #dcf8c6;
        margin-left: 2rem;
        float:right ;
        display: flex;
        flex-wrap: wrap;
    }
      
}

   

/* @media (min-width: 1393px) and (max-width: 500px){ 
    #buton{
        border: none;
        font-size: 1rem;
        color: #dcf8c6;
        margin-left: 8rem;
        background-color: #e6f0ef;
        display: flex;
        flex-wrap: wrap;
        
        
    }

    
} */





